* {
  -border: 1px solid red; }

a {
  display: block;
  margin-top: 30px;
  color: gray;
  text-decoration: none; }

/* BASES
==================================*/
html {
  background-color: green;
  height: 100%;
  z-index: 400; }

body {
  min-height: 100%;
  word-wrap: break-word;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  padding: 20px; }

button {
  cursor: pointer; }

/*SETTINGS
===================================*/
/* LOGIN | CREATE USER
===============================*/
/* MENU
================================*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  /*login/creat
  	=========================*/
  div.login h1 {
    font-size: 80px; }
  /*menu
	====================*/
  body > div.menu {
    width: 100%;
    padding: 0;
    overflow: hidden; }
    body > div.menu h1 {
      font-size: 60px; } }
